@import "~styles/_variables.scss";
:host {
    width: 100%;
    padding-left: $padding;
    padding-right: $padding;
    padding-top: $padding;
    padding-bottom: $padding;
    background-color: $background-color;
}

.filler {
    flex-grow: 1;
}

.home-link {
    cursor: pointer;
    vertical-align: middle;
    display: flex;
    align-items: center;
    height: 100%;

    .material-icons {
        margin-right: 0.2em;
    }
}

.home-link:hover {
    color: $primary-color;
}