@import "~styles/_variables.scss";
:host {
    width: 100%;
    padding-left: $padding;
    padding-right: $padding;
    padding-top: $padding;
    padding-bottom: $padding;
}

.home-link {
    cursor: pointer;
}

.home-link:hover {
    color: $primary-color;
}