@import "~styles/_variables.scss";
@import "node_modules/spectre.css/src/spectre";

body {
    padding: 0;
    margin: 0;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}